<div class="main-content">

    <div class="row flex-center">
      <div class="flex-column card card--padding">
        <h1>Agregar foto</h1>
        <%= form_for @picture do |f| %>
          <div>
            <%= f.label :name, 'Título'%>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div>
            <%= f.label :description, 'Descripción'%>
            <%= f.text_area :description, rows:'8', cols:'40'%>
          </div>
          <div>
            <%= f.label :image_url, 'URL'%>
            <%= f.text_field :image_url %>
          </div>
          <div class="flex-row">
            <%= f.submit 'Agregar', class:'button action'%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
